:root {
    --primary-text-color: #757575;
    --text-title-color: #212121;
    --accent-color: #2196F3;
}
.page {
    background-color: #ffffff;
    color: var(--primary-text-color);
}
.list {
    list-style: none;
}
/* Logo */
.logo {
    color: #000000;
}
.logo-type {
    color: var(--accent-color);
}
/* Site-nav */
.site-nav .link {
    color: var(--text-title-color)
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
/* Contacts-nav */
.contacts-nav .contact {
    color: var(--primary-text-color);
}
.contacts-nav .contact:hover,
.contacts-nav .contact:focus {
    color: var(--accent-color);
}
/* Hero */
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: #ffffff;
}
.section-title {
    color: var(--text-title-color);
}
/* Features */
.features .title {
    color: var(--text-title-color);
}
/* Abilities */

/* Team */
.team {
    background-color: #F5F4FA;
}

.team .title {
    color: var(--text-title-color);
}
/* Footer */
.footer {
    background-color: #2F303A;
}
.logo-footer, .address-nav {
    color: #ffffff;
}
.footer .contacts-footer {
    color: rgba(255, 255, 255, 0.6);;
}
.footer .contacts-footer:hover,
.footer .contacts-footer:focus {
    color: var(--accent-color);
}
/* Button */
.button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}